
hgroup{
    padding-left: 10px;
}
#form {
    padding: 0;
    width: 100%;
    margin: 40px auto;
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em; */
    margin: 0px auto; 
}
#form .card{
    /* width: 18rem; */
    padding: 20px;
}
#frontProfile, #backProfile{
    margin: 10px auto;
    width: fit-content;
}
    #frontProfile img{
        width: 240px; 
        height: 240px;
    }
    .card-body{
        text-align: center;
    }
  
    #dataAdmin{
        text-align: left;
    }
#btns{
    display: none;
}
/* @media only screen and (max-width: 320px) {
     form {
      grid-template-columns: repeat(1, 1fr);
    } 
} */