
hgroup{
    padding-left: 10px;
}
#indicators {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0px auto;
}
form{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 0px auto;
    
}
#indicators .card{
    /* width: 18rem; */
    padding: 20px;
    z-index: -2;
   
}
#frontProfile{
    text-align: center;
    margin: 0 auto;
}
#indicators img{
    width: 250px; 
    height: 250px;
}
#dataAdmin{
    text-align: left;
}
#btns{
    display: none;
}
@media only screen and (max-width: 425px) {
    form {
      grid-template-columns: repeat(1, 1fr);
    }
}