/**
 * =====STYLES FOR:
        login.html  registro.html
    ---------------------------------
        Grid Style
        - Navbar
        - Main
        - Footer
        Animations
        Media Breakpoints   =====*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
.grid-container > *{
    padding: 0;
    margin: 0;
}
/**=====NAVBAR=====*/
.navbar{
    grid-area: navbar;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    color: #eee;
    text-decoration: none;
    background-image: url(../src/magicsoft-bg.png);
}
.navbar-brand img{
    border-radius: 15%;
    margin: 5px;
    width: 55px;
    height: 55px;
    animation: rotateY 5s linear infinite; 
}
.nav-link:hover{
    text-shadow: #294BF3 1px 0 10px;
}
/**=====MAIN=====*/
.main{
    grid-area: main;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
    section{
        padding: 10px 20px 40px;
    }
    form div{
        margin: 0;
    }
    i{
        padding-right: 10px;
        margin: auto 0;
    }
    #rememberme-forgotPass{ /*only in login*/
        display:none;
        visibility: hidden;
    }
/**=====FOOTER=====*/
#copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #0D6EFD;
}
/**=====ANIMATIONS=====*/
@keyframes rotateY {
    0%, 100% {
        transform: perspective(400px) rotateY(0deg);
    }
    50% {
        transform: perspective(400px) rotateY(180deg);
    }
}
/**=====MEDIA BREAKPOINTS=====*/
/*Mobile*/
@media(min-width:320px){
    .grid-container{
        display: grid;
        gap: 0px;
        grid-template-rows: 91px auto;
        grid-template-areas:
        "navbar"
        "main";
    }
}
/*Tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: 91px auto;
        grid-template-areas: 
        "navbar navbar"
        "main main";
    }
}
/*Desktop*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: auto ;
        /* grid-template-rows: 100px 50px auto 100px; */
        grid-template-rows: 91px auto;
        grid-template-areas: 
        "navbar navbar navbar"
        "main main main";
    }
}
@media only screen and (max-width: 768px) {
    #copyright{
        position: relative;
        bottom: 0;
    }
}