*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;
}
html{
    height: 100%;
}
.grid-container > *{
    padding-top: 0px;
    padding-bottom: 5px;
}
.navbar{
    grid-area: navbar;
    background-color: #294BF3; 
} 
.header{
    grid-area: header;
    background-color: #294BF3;
    padding: 0px;
    overflow: hidden;
    height: 1080px;
    width: 100%;
}
.sidebar{
    grid-area: sidebar ;
    background-color: blueviolet;
}
.main{
    grid-area: main;
    width: 90%;
}
.footer{
    grid-area: footer;
    background-color: #294BF3;
    padding: 80px 0; 
}

/* inicio footer */

body#templade{
    font-family: raleway;
    text-transform: capitalize;
}
.footer.container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: white;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #00c3ff;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* fin footer */

/*Mobile*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "navbar"
    "header"
    "main"
    "sidebar"
    "footer" ;
}
/*Tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "navbar navbar"
        "header header"
        "sidebar main"
        "footer footer";
    }
}
/*Desktop*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "navbar navbar navbar"
        "header header header"
        "sidebar main main"
        "footer footer footer";
    }
}


